


<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>

<head>
	<meta charset="UTF-8">
	<title>新規タスク作成</title>
	<link rel="stylesheet" th:href="@{/css/destyle.css}">
	<link rel="stylesheet" th:href="@{/css/form-new.css}">
</head>

<body>
	<div class="new-container">
		<div class="wrapper">

			<h1 class="title">□新規タスク作成</h1>

			<form th:action="@{/tasks}" th:object="${task}" method="post">
				<div class="form">
					<p>タイトル*</p>
					<input type="text" th:field="*{title}" class="column">
					<p>内容</p>
					<input type="text" th:field="*{content}" class="column">
					<p>登録者</p>
					<input type="text" th:field="*{name}" class="column">
					
					<p>開始日</p>
					<input type="date" th:field="*{startDate}" class="date"> <p>終了日</p>
					<input type="date" th:field="*{endDate}" class="date">
				 </div>


				<div class="btn">
					<input type="submit" value="□保存" class="save">
					<a th:href="@{/tasks}" class="cancel">←キャンセル</a>
				</div>
			</form>
		</div>
	</div>

</body>

</html>