<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>

<head>
	<meta charset="UTF-8">
	<title>新規タスク作成</title>
	<link rel="stylesheet" th:href="@{/css/destyle.css}">
	<link rel="stylesheet" th:href="@{/css/form-edit.css}">
</head>

<body>
	<div class="new-container">
		<div class="wrapper">

			<h1 class="title">□タスク編集</h1>

			<form th:action="@{/update}"  method="post">
				<input type="hidden" name="id" th:value="${task.id}">
				<div class="form">
					<p>タイトル*</p>
					<input type="text" name="title" class="column"
                       th:value="${task.title}">
					<p>内容</p>
					<input type="text" name="content" class="column"
                       th:value="${task.content}">
					<p>登録者</p>
					<input type="text" name="username" class="column"
                       th:value="${task.username}">
					<p>開始日</p>
					<input type="date" name="startDate" class="date"
                       th:value="${task.startDate}">
					<p>終了日</p>
					<input type="date" name="endDate" class="date"
                       th:value="${task.endDate}">
				</div>

				<div class="btn">
					<input type="submit" value="□更新" class="update">
					<a th:href="@{/tasks}" class="cancel">←キャンセル</a>
				</div>
			</form>
		</div>
	</div>

</body>

</html>